.login-card {
  /*overflow: visible;*/
  width: 420px;
  min-height: 400px;
  max-height: 600px;
  height: 550px;
  border-radius: 2em;
  background: linear-gradient(130deg, #8e3aba22, #27b5e922);
  color: white;
  position: relative;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-card .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  color: #f8f9fa;
  cursor: pointer;
  background: #9042b9;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  z-index: 10;
}

.login-card .icon-close:hover {
  background: #28b6e9;
}

.form-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.form-box h2 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.input-box {
  width: 100%;
  position: relative;
  height: 50px;
  border-bottom: 2px solid #adadad;
  margin: 20px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #adadad;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label, .input-box input:valid ~ label {
  top: -10px;
  left: 5px;
  color: #e3002c;
  font-size: 1em;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #f8f9fa;
  font-weight: 500;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #adadad;
  pointer-events: none;
}

.input-box input:focus, .input-box input:valid {
  background: transparent;
}

.remember-forget {
  font-size: 0.9em;
  color: #f8f9fa;
  font-weight: 500;
  margin: -10px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.form-check-input {
  margin-right: 10px;
  accent-color: #9042b9;
}

.form-check-label {
  color: #f8f9fa;
  font-weight: 500;
}

.remember-forget a {
  color: #ec7784;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: #9042b9;
  color: #f8f9fa;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 10px;
}

.btn:hover {
  background: #28b6e9;
  color: #f8f9fa;
}

.register-link {
  color: #f8f9fa;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  font-size: 1em;
}

.register-link a {
  color: #ec7784;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

