.article-container {
  width: calc(100vw - 120px);
  height: calc(100vh - 140px);
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  /* border: 2px dotted turquoise; */
  margin-left: 10px;
  gap: 10px;
  row-gap: 10px;
  justify-content: space-between;
}

.category-heading-container {
  height: 100px;
  border-radius: 2em;
  /*border: 2px dotted var(--bs-warning);*/
  text-align: center;
  color: #f8f9fa;
  background: linear-gradient(130deg, #8e3aba22, #27b5e922);
}

.article-sub-container {
  /* border: 2px dotted var(--bs-warning); */
  column-gap: 10px;
  row-gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}